:root {
  font-size : 100%;
  font-family : system-ui, sans-serif;
  scroll-behavior : smooth;
}
* , *::before , *::after {
  margin : 0;
  padding : 0;
  border : 0;
  box-sizing : border-box;
  vertical-align : baseline;
}
*::before , *::after {
  display : block;
}
img , picture , video , iframe , figure , canvas {
  max-width : 100%;
  display : block;
  width : 100%;
  height : initial;
  object-fit : cover;
  object-position : center center;
}
a {
  display : block;
  text-decoration : none;
  color : inherit;
  font :  inherit;
}
p a {
  display : inline;
}
li , menu, summary {
  list-style-type : none;
}
ol {
  counter-reset : revert;
}
h1 , h2 , h3 , h4 , h5 , h6 , p , span , a , strong , blockquote , i , b , u , em , pre , code , mark , del {
  font :  inherit;
  line-height :  1em;
  text-decoration :  none;
  color : inherit;
  overflow-wrap : break-word;
  text-wrap : pretty;
}
mark {
  background-color : transparent;
}
blockquote::before , blockquote::after , q::before , q::after {
  content : none;
}
form , input , textarea , select , button , label {
  font :  inherit;
  hyphens : auto;
  background-color : transparent;
  color : inherit;
  display : block;
  appearance : none;
}
fieldset {
  border : none;
}
::placeholder {
  color : unset;
}
button , label {
  cursor : pointer;
}
table , tr , td , th , tbody , thead , tfoot {
  border-collapse : collapse;
  border-spacing : 0;
  font : inherit;
}
svg {
  width : 100%;
  height : initial;
  display : block;
  fill : currentColor;
}
body {
  min-height : 100vh;
  line-height : 1.5em;
  color : inherit;
  hyphens : auto;
  font-smooth : always;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing : grayscale;
}

.Preloader{
    width: 100%;
    min-height: 100vh;
    background-color: #ffdc49;
    display: flex;
}
.Preloader-logo{
 
    width: 60%;
    margin: auto;
}
.Preloader-svg{
}
.Preloader-svg--letter path{
    animation: fade 1.3s ease-in-out infinite ;
}
.Preloader-svg--letter-s path{

    animation-delay: .2s;
}
.Preloader-svg--letter-o path{
   
       animation-delay: .4s;
}
.Preloader-svg--letter-j path{

       animation-delay: .6s;
}
.Preloader-svg--letter-i path{
  
       animation-delay: .8s;
}
.Preloader-svg--letter-dot1 path{
 
       animation-delay: .6s;
}
.Preloader-svg--letter-dot2 path{
 
       animation-delay: .8s;
}

@keyframes fade{
    0%{
     opacity: 0.2;
    }  
    20%{
     opacity:1;
    }
    40%{
     opacity: 0.2;
    }
    100%{
     opacity: 0.2;
    }
}