:root {
  font-size : 100%;
  font-family : system-ui, sans-serif;
  scroll-behavior : smooth;
}

 * { -ms-overflow-style: none;  scrollbar-width: none;  } 
 *::-webkit-scrollbar { display: none; }
* , *::before , *::after {
  margin : 0;
  padding : 0;
  border : 0;
  box-sizing : border-box;
  vertical-align : baseline;
}
*::before , *::after {
  display : block;
}
img , picture , video , iframe , figure , canvas {
  max-width : 100%;
  display : block;
  width : 100%;
  height : initial;
  object-fit : cover;
  object-position : center center;
}
a {
  display : block;
  text-decoration : none;
  color : inherit;
  font :  inherit;
}
p a {
  display : inline;
}
li , menu, summary {
  list-style-type : none;
}
ol {
  counter-reset : revert;
}
h1 , h2 , h3 , h4 , h5 , h6 , p , span , a , strong , blockquote , i , b , u , em , pre , code , mark , del {
  font :  inherit;
  line-height :  1em;
  text-decoration :  none;
  color : inherit;
  overflow-wrap : break-word;
  text-wrap : pretty;
}



mark {
  background-color : transparent;
}
blockquote::before , blockquote::after , q::before , q::after {
  content : none;
}
form , input , textarea , select , button , label {
  font :  inherit;
  hyphens : auto;
  background-color : transparent;
  color : inherit;
  display : block;
  appearance : none;
}
fieldset {
  border : none;
}
::placeholder {
  color : unset;
}
button , label {
  cursor : pointer;
}
table , tr , td , th , tbody , thead , tfoot {
  border-collapse : collapse;
  border-spacing : 0;
  font : inherit;
}
svg {
  width : 100%;
  height : initial;
  display : block;
  fill : currentColor;
}
body {
  min-height : 200vh;
  line-height : 1.5em;
  color : inherit;
  hyphens : auto;
  font-smooth : always;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing : grayscale;
     font-family: "Montserrat", sans-serif;
       font-optical-sizing: auto;
}

.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}





/*Preloader*/

.Preloader{
    width: 100%;
    min-height: 100vh;
    background-color: #ffdc49;
    display: flex;
    justify-content: center;
    z-index: 2;

    position: fixed;
    top: 0;
    left: 0;
  
    animation: slideUp 1s ease forwards  4.05s;
}
@keyframes slideUp{
    to{
        transform: translateY(-100%);
    }
}
.Preloader-logo{
      display: flex;
    width: 60%;

 
}
.Preloader-svg{
}
.Preloader-svg--letter path{
    opacity: 0;
    animation: fall 1s ease-out forwards;
    
}
.Preloader-svg--letter-s path{
   
       animation-delay: 1.2s;
}
.Preloader-svg--letter-o path{
   
    animation-delay: 1.2s;
}
.Preloader-svg--letter-j path{

       animation-delay: 1.4s;
}
.Preloader-svg--letter-i path{
  
       animation-delay: 1.6s;
}
.Preloader-svg--letter-dot1 path{
    fill: white;
    opacity: 0;
    transform: scale(0);
    animation: inflate 1s ease-out forwards;
       animation-delay: 2.5s;
}
.Preloader-svg--letter-dot2 path{
     fill: white;
     opacity: 0;
     transform: scale(0);
     animation: inflate 1s ease-out forwards;
       animation-delay: 2.8s;
}

@keyframes fall{
    0%{
     transform: translateY(-100vh); opacity: 0;
    }  
    70%{
        transform: translateY(0);opacity: 1;;
    }
    85%{
        transform: translateY(-40px);
    }
    100%{
      transform: translateY(0); opacity:1;
    }
}

@keyframes inflate{
    0%{
        transform: scale(0);opacity: 0;
    }
    60%{
        transform: scale(1.3); opacity: 1;
    }
    80%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1); opacity: 1;
    }
}

/*Header*/

.Header{
    width: 100%;
backdrop-filter: (5px);

    display: flex;
    justify-content:space-between;
    align-items: center;
 
    top: 0;
 padding: 1rem 0;
 z-index: 1;
  position: fixed;
 animation: fallHeader 1.8s ease-out ease ;
 animation-delay: 4.1s;

 transition: transform .4s ease ;

}

.Header.invisible{
    transform: translateY(-100%);

}

@keyframes fallHeader{
    0%{
     transform: translateY(-100vh); opacity: 0;
    }  
    70%{
        transform: translateY(0);opacity: 1;;
    }
    85%{
        transform: translateY(-20px);
    }
    100%{
      transform: translateY(0); opacity:1;
    }
}
.Header-menu{
    width: 4rem;
    margin: 0 0 0 2rem;
    padding: 0.5rem;
    background-color:#ffdc49;

    transition: all .3s ease ;
    transform-origin: top left;
    
}
.Header-logo{
    width: 5rem;
    display: none;
    
}

.Header-logo .Preloader-svg--letter-s path {

  animation-delay: 4s;
}

.Header-logo .Preloader-svg--letter-o path {

  animation-delay: 4.2s;
}

.Header-logo .Preloader-svg--letter-j path {

  animation-delay: 4.4s;
}

.Header-logo .Preloader-svg--letter-i path {

  animation-delay: 4.6s;
}

.Header-logo .Preloader-svg--letter-dot1 path {
  animation-delay: 5s;
}

.Header-logo .Preloader-svg--letter-dot2 path {
  animation-delay: 5.2s;
}

.Header-nav{
    background-color: #ffdc49;
    padding:  1rem 2rem 1rem 1rem;
    margin: 0 1rem 0 2rem;

    position: absolute;
  left: 0;
  top: 1rem;

    opacity: 0;

   pointer-events: none;
 

transform: scaleY(0);
transform-origin: top left;
transition: all .6s ease;
}

.Header-menu:hover ~  .Header-nav, 
.Header-nav:hover{
        opacity: 1;
       
        pointer-events: auto;
    transform: scaleY(1);   
  
}
.Header-menu:hover{
 transform: scaleY(0);

}


.Header-ul{
    text-align: left;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}
.Header-li{
    font-size: 1.4rem;
    transition: all .4s ease;
}
.Header-li:hover{
    font-weight: 600;
    transform: translateX(12px);  
    color: black;
    background-color: rgb(255, 255, 255);
    
    
}
.Header-cart{
    width: 3rem;
       margin: 0 2rem 0 0;
       
}

.Cart-svg{
}

.Header-cart:hover .Cart-svg--wheel1,
.Header-cart:hover .Cart-svg--wheel2{
  animation: bounce .6s ease forwards;
}
.Header-cart:hover .Cart-svg--wheel2{
  animation-delay: 0.3s;
}
@keyframes bounce {
  0% {
     transform: translateY(0);
  
  }
  50% {
    transform: translateY(-2px);
  }

  100% {
    transform: translateY(0);
  
  }
}

.Intro{
    
     position: relative;
   display: flex;
   flex-flow: row nowrap;
   justify-content: center;
   align-items: center;
  height: 100vh;
    overflow: hidden;

    
     animation: fallIntro 1.8s ease-out forwards;
     animation-delay: 4.1s;
}

@keyframes fallIntro{
    0%{
     transform: translateY(100vh); opacity: 0;
    }  
    70%{
        transform: translateY(0);opacity: 1;;
    }
    85%{
        transform: translateY(20px);
    }
    100%{
      transform: translateY(0); opacity:1;
    }
}

.Intro-grid{
    animation: vertical 25s linear infinite;
    
 
}

.fast{
    animation-duration: 15s;
}
.fast14{
    animation-duration: 14s;
}
.fast18{
    animation-duration: 18s;
}
.fast20{
    animation-duration: 20s;
}
@keyframes vertical{
    from{
        transform:translateY(0%);
    }
    to{
        transform:translateY(40%);
    }
}




@keyframes vertical{
    from{
        transform:translateY(0%);
    }
    to{
        transform:translateY(-40%);
    }
}
.Intro-mosaic{
    margin: 3rem 2rem;
    width: 6rem;
  
}
.Intro-img{
object-fit: scale-down;
  transition: filter 1s ease;
}

.Intro.img.blur{
  filter: blur(5px);
}

.Intro-img.blur{
  filter: blur(5px);
}

.Intro-article{
    background-color: rgb(255, 255, 255);
    width: 18rem;
    padding: 3rem 0 0 0;

  box-shadow:
  rgba(0, 0, 0, 0.25) 0px 8px 16px,
  rgba(0, 0, 0, 0.22) 0px 16px 32px,
  rgba(0, 0, 0, 0.20) 0px 32px 64px,
  rgba(0, 0, 0, 0.18) 0px 64px 128px; 

  position: absolute;
    bottom: calc(50% - 9rem);
    left: calc(50% - 9rem);

  


       animation: fallIntro 2.5s ease forwards;
       animation-delay: 4.1s;

 transition: all 1s ease
}
.Intro-article.expand{
     width: 100vw;
    height: 100vh;
    bottom: -100vh;
    left: 0;
    box-shadow: none;
}

 .Intro-article--wrapper{
  display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    overflow: hidden;
 }

 .Intro-article--wrapper.none{
    display: none;
 }

.Intro-p{
  
    font-weight: 600;
    text-align: center;

  


}
.Intro-logo{
    width: 7rem;
display: flex;
align-items: center;

}

.Intro-span{
   font-size: 2rem;
   font-weight: 700;
}

.korea{
 font-weight: 800;

}
.Intro-button{
    padding: 0.8rem;
   width: 100%;
    font-size: 0.9rem;
   transform: translateY(100%);
   transition: all .4s ease;
}
.Intro-button--span{
  border: 2px solid #ffdc49;
  padding: 0.3rem 0.8rem;
}

.Intro-article:hover .Intro-button{
    transform: translateY(0);
}

.Ingredients{
    width: 100%;
    min-height: 100vh;

    background-color: #ffdc49;
    display: flex;
    justify-content: center;
    align-items: center;
   

}
.Ingredients-img{
  background-color: #ffdc49;
    opacity: 0;
  transition:  all 1s ease;

position: relative;
width: 50%;


}

.Ingredients-img--img{
  width: 20rem;
  position: absolute;
   top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  z-index: 1;
  
}

.Ingredients-img.visible{
  opacity: 1;
  transform: translateY(0);
      pointer-events: auto;
  
}

.Ingredients-img.visibleTranslateReverse{
  transform: translateY(5rem);    
}


.Ingredients-decor--svg{
    width: 20rem;
    position: absolute;
      top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

}

.Ingredients-arrow{

  }
.Ingredients-box{
  width: 450px;
  position: absolute;
  top: 50rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 0 5rem;

}


.Ingredients-arrow--svg{
  opacity: 0;
 transition: all .3s ease ;

}
.Ingredients-arrow.arrowOpacity{
  opacity: 1;

}

.Ingredients-arrow--left{

  transform: rotate(180deg);
}
.Ingredients-arrow--svg.arrowOpacity{
  opacity: 1;

}
.Ingredients-arrow--svg-1{
  transition-delay: .1s ;
}

.Ingredients-arrow--svg-2{
  transition-delay: .2s ;
}

.Ingredients-arrow--svg-3{
  transition-delay: .3s ;
}

.Ingredients-arrow--svg-4{
  transition-delay: .4s ;
}

.Ingredients-arrow--svg-5{
  transition-delay: .5s ;
}

.Ingredients-arrow--svg-6{
  transition-delay: .6s ;
}
.Ingredients-arrow--svg-7{
  transition-delay: .7s ;
}