:root {
  font-size : 100%;
  font-family : system-ui, sans-serif;
  scroll-behavior : smooth;
}

 * { -ms-overflow-style: none;  scrollbar-width: none;  } 
 *::-webkit-scrollbar { display: none; }
* , *::before , *::after {
  margin : 0;
  padding : 0;
  border : 0;
  box-sizing : border-box;
  vertical-align : baseline;
}
*::before , *::after {
  display : block;
}
img , picture , video , iframe , figure , canvas {
  max-width : 100%;
  display : block;
  width : 100%;
  height : initial;
  object-fit : cover;
  object-position : center center;
}
a {
  display : block;
  text-decoration : none;
  color : inherit;
  font :  inherit;
}
p a {
  display : inline;
}
li , menu, summary {
  list-style-type : none;
}
ol {
  counter-reset : revert;
}
h1 , h2 , h3 , h4 , h5 , h6 , p , span , a , strong , blockquote , i , b , u , em , pre , code , mark , del {
  font :  inherit;
  line-height :  1em;
  text-decoration :  none;
  color : inherit;
  overflow-wrap : break-word;
  text-wrap : pretty;
}


mark {
  background-color : transparent;
}
blockquote::before , blockquote::after , q::before , q::after {
  content : none;
}
form , input , textarea , select , button , label {
  font :  inherit;
  hyphens : auto;
  background-color : transparent;
  color : inherit;
  display : block;
  appearance : none;
}
fieldset {
  border : none;
}
::placeholder {
  color : unset;
}
button , label {
  cursor : pointer;
}
table , tr , td , th , tbody , thead , tfoot {
  border-collapse : collapse;
  border-spacing : 0;
  font : inherit;
}
svg {
  width : 100%;
  height : initial;
  display : block;
  fill : currentColor;
}
body {
  min-height : 100vh;
  line-height : 1.5em;
  color : inherit;
  hyphens : auto;
  font-smooth : always;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing : grayscale;
     font-family: "Montserrat", sans-serif;
       font-optical-sizing: auto;
}





/*Preloader*/

.Preloader{
    width: 100%;
    min-height: 100vh;
    background-color: #ffdc49;
    display: flex;
    justify-content: center;
    z-index: 2;

    position: fixed;
    top: 0;
    left: 0;
  
    animation: slideUp 1s ease forwards  4.05s;
}
@keyframes slideUp{
    to{
        transform: translateY(-100%);
    }
}
.Preloader-logo{
      display: flex;
    width: 60%;

 
}
.Preloader-svg{
}
.Preloader-svg--letter path{
    opacity: 0;
    animation: fall 1s ease-out forwards;
    
}
.Preloader-svg--letter-s path{
   
       animation-delay: 1.2s;
}
.Preloader-svg--letter-o path{
   
    animation-delay: 1.2s;
}
.Preloader-svg--letter-j path{

       animation-delay: 1.4s;
}
.Preloader-svg--letter-i path{
  
       animation-delay: 1.6s;
}
.Preloader-svg--letter-dot1 path{
    fill: white;
    opacity: 0;
    transform: scale(0);
    animation: inflate 1s ease-out forwards;
       animation-delay: 2.5s;
}
.Preloader-svg--letter-dot2 path{
     fill: white;
     opacity: 0;
     transform: scale(0);
     animation: inflate 1s ease-out forwards;
       animation-delay: 2.8s;
}

@keyframes fall{
    0%{
     transform: translateY(-100vh); opacity: 0;
    }  
    70%{
        transform: translateY(0);opacity: 1;;
    }
    85%{
        transform: translateY(-40px);
    }
    100%{
      transform: translateY(0); opacity:1;
    }
}

@keyframes inflate{
    0%{
        transform: scale(0);opacity: 0;
    }
    60%{
        transform: scale(1.3); opacity: 1;
    }
    80%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1); opacity: 1;
    }
}

/*Header*/

.Header{
    width: 100%;
background-color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: fixed;
    top: 0;
 padding: 1rem 0;
 z-index: 1;

 animation: fallHeader 1.8s ease-out forwards ;
 animation-delay: 4.1s;
}

@keyframes fallHeader{
    0%{
     transform: translateY(-100vh); opacity: 0;
    }  
    70%{
        transform: translateY(0);opacity: 1;;
    }
    85%{
        transform: translateY(-20px);
    }
    100%{
      transform: translateY(0); opacity:1;
    }
}
.Header-menu{
    width: 3rem;
    margin: 0 0 0 2rem;
}
.Header-logo{
    width: 6rem;
    
}

.Header-logo:hover{
    color: #ffdc49;
    scale: 1.05;
}

.Header-logo .Preloader-svg--letter-s path {

  animation-delay: 4s;
}

.Header-logo .Preloader-svg--letter-o path {

  animation-delay: 4.2s;
}

.Header-logo .Preloader-svg--letter-j path {

  animation-delay: 4.4s;
}

.Header-logo .Preloader-svg--letter-i path {

  animation-delay: 4.6s;
}

.Header-logo .Preloader-svg--letter-dot1 path {
  animation-delay: 5s;
}

.Header-logo .Preloader-svg--letter-dot2 path {
  animation-delay: 5.2s;
}

.Header-nav{
    background-color: #ffdc49;
    padding:  1rem 2rem 1rem 1rem;
    margin: 0 0 0 2rem;

    position: absolute;
  left: 0;
  top: 2rem;

    opacity: 0;

   pointer-events: none;
 

transform: scaleY(0);
transform-origin: top left;
transition: 
transform 0.6s ease,
opacity .6s ease 
}

.Header-menu:hover ~  .Header-nav,
.Header-nav:hover{
        opacity: 1;
       
        pointer-events: auto;
    transform: scaleY(1);   
}


.Header-ul{
    text-align: left;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}
.Header-li{
    font-size: 1.4rem;
    transition: background-color .4s ease;
}
.Header-li:hover{
    font-weight: 600;
    transform: translateX(12px);  
    color: black;
    background-color: rgb(255, 255, 255);
}
.Header-cart{
    width: 3.5rem;
       margin: 0 2rem 0 0;
}

.Cart-svg{
}

.Header-cart:hover .Cart-svg--wheel1,
.Header-cart:hover .Cart-svg--wheel2{
  animation: bounce .6s ease forwards;
}
.Header-cart:hover .Cart-svg--wheel2{
  animation-delay: 0.3s;
}
@keyframes bounce {
  0% {
     transform: translateY(0);
  
  }
  50% {
    transform: translateY(-2px);
  }

  100% {
    transform: translateY(0);
  
  }
}

.Intro{
    
    margin: 6rem 0;
  
     position: relative;
   display: flex;
   flex-flow: row nowrap;
   justify-content: center;
   align-items: center;
   height: 38rem;
   overflow: hidden;
    
     animation: fallIntro 1.8s ease-out forwards;
     animation-delay: 4.1s;
}

@keyframes fallIntro{
    0%{
     transform: translateY(100vh); opacity: 0;
    }  
    70%{
        transform: translateY(0);opacity: 1;;
    }
    85%{
        transform: translateY(20px);
    }
    100%{
      transform: translateY(0); opacity:1;
    }
}

.Intro-grid{
 
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-flow: column;

    animation: vertical 17s linear infinite;
    
 
}



@keyframes vertical{
    from{
        transform:translateY(0%);
    }
    to{
        transform:translateY(40%);
    }
}




@keyframes vertical{
    from{
        transform:translateY(0%);
    }
    to{
        transform:translateY(-40%);
    }
}
.Intro-mosaic{
    background-color: rgb(255, 255, 255);

    width: 4rem;
  
}
.Intro-img{

object-fit: scale-down;

}

.Intro-article{
    background-color: rgb(255, 255, 255);
    width: 25rem;
    min-height: 10rem;
    padding: 1rem;
 
  position: absolute;
    bottom: calc(50% - 8rem);
    left: calc(50% - 12.5rem);

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

       animation: fallIntro 2.5s ease-out forwards;
       animation-delay: 4.1s;
}

.Intro-p{
    font-size: 2.3rem;
    font-weight: 500;
    text-align: center;
    line-height: 2.7rem;
    
}

.Intro-logo{
    width: 4rem;

}