:root {
  font-size : 100%;
  font-family : system-ui, sans-serif;
  scroll-behavior : smooth;
}

 * { -ms-overflow-style: none;  scrollbar-width: none;  } 
 *::-webkit-scrollbar { display: none; }
* , *::before , *::after {
  margin : 0;
  padding : 0;
  border : 0;
  box-sizing : border-box;
  vertical-align : baseline;
}
*::before , *::after {
  display : block;
}
img , picture , video , iframe , figure , canvas {
  max-width : 100%;
  display : block;
  width : 100%;
  height : initial;
  object-fit : cover;
  object-position : center center;
}
a {
  display : block;
  text-decoration : none;
  color : inherit;
  font :  inherit;
}
p a {
  display : inline;
}
li , menu, summary {
  list-style-type : none;
}
ol {
  counter-reset : revert;
}
h1 , h2 , h3 , h4 , h5 , h6 , p , span , a , strong , blockquote , i , b , u , em , pre , code , mark , del {
  font :  inherit;
  line-height :  1em;
  text-decoration :  none;
  color : inherit;
  overflow-wrap : break-word;
  text-wrap : pretty;
}



mark {
  background-color : transparent;
}
blockquote::before , blockquote::after , q::before , q::after {
  content : none;
}
form , input , textarea , select , button , label {
  font :  inherit;
  hyphens : auto;
  background-color : transparent;
  color : inherit;
  display : block;
  appearance : none;
}
fieldset {
  border : none;
}
::placeholder {
  color : unset;
}
button , label {
  cursor : pointer;
}
table , tr , td , th , tbody , thead , tfoot {
  border-collapse : collapse;
  border-spacing : 0;
  font : inherit;
}
svg {
  width : 100%;
  height : initial;
  display : block;
  fill : currentColor;
}
body {
  min-height : 100vh;
  line-height : 1.5em;
  color : inherit;
  hyphens : auto;
  font-smooth : always;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing : grayscale;
     font-family: "Montserrat", sans-serif;
       font-optical-sizing: auto;

}

.satisfy-regular {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
}

.barriecito-regular {
  font-family: "Barriecito", system-ui;
  font-weight: 400;
  font-style: normal;
}




/*Preloader*/

.Preloader{
    width: 100%;
    min-height: 100vh;
    background-color: #ffdc49;
    display: flex;
    justify-content: center;
    z-index: 2;

    position: fixed;
    top: 0;
    left: 0;
  
    animation: slideUp 0.7s ease forwards  4.05s;
}
@keyframes slideUp{
    to{
        transform: translateY(-100%);
    }
}
.Preloader-logo{
      display: flex;
    width: 60%;

 
}
.Preloader-svg{
}
.Preloader-svg--letter path{
    opacity: 0;
    animation: fall 1s ease-out forwards;
    
}
.Preloader-svg--letter-s path{
   
       animation-delay: 1.2s;
}
.Preloader-svg--letter-o path{
   
    animation-delay: 1.2s;
}
.Preloader-svg--letter-j path{

       animation-delay: 1.4s;
}
.Preloader-svg--letter-i path{
  
       animation-delay: 1.6s;
}
.Preloader-svg--letter-dot1 path{
    fill: white;
    opacity: 0;
    transform: scale(0);
    animation: inflate 1s ease-out forwards;
       animation-delay: 2.5s;
}
.Preloader-svg--letter-dot2 path{
     fill: white;
     opacity: 0;
     transform: scale(0);
     animation: inflate 1s ease-out forwards;
       animation-delay: 2.8s;
}

@keyframes fall{
    0%{
     transform: translateY(-100vh); opacity: 0;
    }  
    70%{
        transform: translateY(0);opacity: 1;;
    }
    85%{
        transform: translateY(-40px);
    }
    100%{
      transform: translateY(0); opacity:1;
    }
}

@keyframes inflate{
    0%{
        transform: scale(0);opacity: 0;
    }
    60%{
        transform: scale(1.3); opacity: 1;
    }
    80%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1); opacity: 1;
    }
}

/*Header*/

.Header{
    width: 100%;
backdrop-filter: (5px);

    display: flex;
    justify-content:space-between;
    align-items: center;
 
    top: 0;
 padding: 1rem 0;
 z-index: 1;
  position: fixed;
 animation-delay: 4.1s;

 transition: transform .4s ease ;

}

.Header.invisible{
    transform: translateY(-100%);

}


.Header-menu{
    width: 4rem;
    margin: 0 0 0 2rem;
    padding: 0.5rem;
    background-color:#ffdc49;
    transition: all .3s ease ;
    transform-origin: top left;
    
}
.Header-logo{
    width: 5rem;
   
    
}

.Header-logo .Preloader-svg--letter-s path {

  animation-delay: 4s;
}

.Header-logo .Preloader-svg--letter-o path {

  animation-delay: 4.2s;
}

.Header-logo .Preloader-svg--letter-j path {

  animation-delay: 4.4s;
}

.Header-logo .Preloader-svg--letter-i path {

  animation-delay: 4.6s;
}

.Header-logo .Preloader-svg--letter-dot1 path {
  animation-delay: 5s;
}

.Header-logo .Preloader-svg--letter-dot2 path {
  animation-delay: 5.2s;
}

.Header-nav{
    background-color: #ffdc49;
    padding:  1rem 2rem 1rem 1rem;
    margin: 0 1rem 0 2rem;

    position: absolute;
  left: 0;
  top: 1rem;

    opacity: 0;

   pointer-events: none;
 

transform: scaleY(0);
transform-origin: top left;
transition: all .6s ease;
}

.Header-menu:hover ~  .Header-nav, 
.Header-nav:hover{
        opacity: 1;
       
        pointer-events: auto;
    transform: scaleY(1);   
  
}
.Header-menu:hover{
 opacity: 0;

}


.Header-ul{
    text-align: left;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}
.Header-li{
    font-size: 1.4rem;
    transition: all .4s ease;
}
.Header-li:hover{
    font-weight: 600;
    transform: translateX(5px);  
    color: black;
    background-color: rgb(255, 255, 255);
    
    
}
.Header-cart {
    width: 4rem;
    padding: 0.5rem;
       margin: 0 2rem 0 0;
       background-color: #000000;
 position: relative;
}
.Shop-cart{
  background-color: white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1), 0 4px 8px rgba(0, 0, 0, 0.06);
  position: fixed;
  right: 0;
  top: 0;

     margin: 1rem 2rem 0 0;
  padding: 1rem;
  display: flex;
  flex-flow: column nowrap;
  visibility: hidden;

  transition: transform .4s ease;
}
.Shop-cart.visible{
  visibility: visible;
  
}
.Shop-cart.invisible{
  transform: translateY(-100%);
}
.Cart-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 1rem 0;
}
.Cart-list{
  width: 12rem;
  display: flex;
  flex-flow: column nowrap;
  gap: .5rem;
  padding: 0 0.5rem 0 0;
}
.Cart-item{
display: none;
}

.Cart-item.visible{
  display: flex ;
}
.Cart-text{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
 

}
.Cart-total--text{

  text-align: end;
}
.Cart-close--svg{
  width: 2rem;
}

.Cart-span{
  font-size: 1.6rem;
}
.Cart-item--image{

width: 60%;
}
.Cart-item--img{
  width: 6rem;
  padding: 0.5rem;
  margin: auto;
}
.Cart-item--remove{
  text-align: end;
  font-size: 0.9rem;
}
.Cart-item--remove:hover{
  font-weight: 600;
  text-decoration: underline;
}
.Cart-checkout{
 
  border: 2px solid #ffdc49 ;
  display: flex;
  justify-content: center;
  gap: .5rem;
  padding: 0.5rem;

  transition: background-color .4s ease;
}
.Cart-checkout:hover{
  background-color: #ffdc49;
 
}
.Cart-checkout--svg{
  width: 1rem;
}


.Header-cart:hover .Cart-svg--wheel1,
.Header-cart:hover .Cart-svg--wheel2{
  animation: bounce .6s ease forwards;
}
.Header-cart:hover .Cart-svg--wheel2{
  animation-delay: 0.3s;
}
@keyframes bounce {
  0% {
     transform: translateY(0);
  
  }
  50% {
    transform: translateY(-1px);
  }

  100% {
    transform: translateY(0);
  
  }
}

.Intro{
    width: 100%;
   display: flex;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content:  center;
  align-items: center;
  background-image: url("../assets/street-food.png");
  background-position: center;
  background-size: cover;
     animation: fallIntro 1.8s ease-out forwards;
     animation-delay: 4.1s;
}

@keyframes fallIntro{
    0%{
     transform: translateY(100vh); opacity: 0;
    }  
    70%{
        transform: translateY(0);opacity: 1;;
    }
    85%{
        transform: translateY(20px);
    }
    100%{
      transform: translateY(0); opacity:1;
    }
}

@keyframes vertical{
    from{
        transform:translateY(0%);
    }
    to{
        transform:translateY(-40%);
    }
}

.Intro-article{
    background-color: rgba(255, 255, 255, 0.149);
    
    padding: 2rem 3rem 0 3rem;

  box-shadow:
  rgba(0, 0, 0, 0.25) 0px 8px 16px,
  rgba(0, 0, 0, 0.22) 0px 16px 32px,
  rgba(0, 0, 0, 0.20) 0px 32px 64px,
  rgba(0, 0, 0, 0.18) 0px 64px 128px; 

       animation: fallIntro 2.5s ease forwards;
       animation-delay: 4.1s;

 transition: all .1s ease;
}
.Intro-article.expand{
     width: 100vw;
    height: 100vh;
    bottom: -100vh;
    left: 0;
    box-shadow: none;
    background-color: white;
   
}

 .Intro-article--wrapper{
  display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
 
  gap: 1rem;
    overflow: hidden;
 }

 .Intro-article--wrapper.none{
    display: none;
 }

.Intro-p{
    line-height: 1.7;
    font-weight: 600;
    text-align: center;
  font-size: 1.6rem;
}
.Intro-logo{
    width: 7rem;
display: flex;
align-items: center;

}

.Intro-span{
   font-size: 2rem;
   font-weight: 700;
}

.b{
 font-weight: 800;

}
.Intro-button{
    padding: 1rem;
  
   text-align: center;
   font-weight: 600;
    font-size: 1.2rem;
   transform: translateY(100%);
   transition: all .4s ease;
  background-color:#ffdb49aa;
  border-radius: 35px;
  color: rgb(0, 0, 0);
}

.Intro-article:hover .Intro-button{
    transform: translateY(-10%);
  margin: 0 0 1rem 0;

}
.Intro-button:hover{
  background-color: #ffdc49;
}
.Intro-flavors{

  font-size: 1.2rem;
  font-weight: 500;
  color: #ffdc49;
  text-align: center;
  position: absolute;
  bottom: 0;

  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

 animation: bounce 2s infinite;
}
.Intro-span--flavors{
   line-height: 1.3; 
}

@keyframes bounce {
 0%{ 
  transform: translateY(0); 
} 
  60%{ 
  transform: translateY(10px); 
} 
  100%{ 
  transform: translateY(0); 
}
}

.Intro-arrow{
   color: white;
   width: 6rem;
}






.Ingredients-wrapper { 

  height: 100vh; 
  overflow: hidden; 
  position: relative;
 

}
.Ingredients-carrousel{
width: 300%;
 height: 100%; 
 display: flex;
transition: transform .5s ease;
}
.Ingredients{
width: calc(100% / 3);
height: 100vh; 
display: flex; 
justify-content: center; 
align-items: center;
}

.Ingredients-img{
  height: 100%; 
    opacity: 0;
  transition:  all 1s ease;

display: flex;
  flex-flow: column nowrap;
justify-content: center;
align-items: center;
width: 40%;
}
.Ingredients-img--img{
  width: 20rem;

  margin: auto;
  
}


.Ingredients-img.visible{
  opacity: 1;
  transform: translateY(0);
      pointer-events: auto;
  
}

.Ingredients-img.visibleTranslateReverse{
  transform: translateY(5rem);    
}

.Ingredients-img--thailand.visible{
    opacity: 1;
  transform: translateY(0);
      pointer-events: auto;
}
.Ingredients-img--thailand{
    opacity: 0;
  transition:  all 1s ease;
width: 50%;
  height: 100vh; 

  display: flex;
  flex-flow: column nowrap;
justify-content: center;
align-items: center;
 
}
.Ingredients-h2{

  font-size: 1.8rem;


}
.Ingredients-titleflag{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-flow: row nowrap;
  margin: 1rem 0 0 0;
}
.Ingredients-flag{
width: 5rem;
}
.Ingredients-img--thailand.visibleTranslateReverse{
  transform: translateY(5rem);    
}

.Ingredients-img--japon{
      opacity: 0 ;
      position: relative;
  transition:  all 1s ease;
width: 50%;
  height: 100vh; 

  display: flex;
  flex-flow: column nowrap;
justify-content: center;
align-items: center;
  
}

.Ingredients-img--japon.visible{
    opacity: 1;
  transform: translateY(0);
      pointer-events: auto;
}

.Ingredients-img--japon.visibleTranslateReverse{
  transform: translateY(5rem);    
}


.Ingredients-decor--svg{
    width: 20rem;
  
      top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

}

.Ingredients-box{
  width: 26.125rem;
  position: absolute;
top: 3rem;
  display: grid;
  grid-template-columns: repeat(2,1fr);
z-index: -1;

}


.Ingredients-arrow--svg{
  opacity: 0;
 transition: all .3s ease ;

}
.Ingredients-arrow.arrowOpacity{
  opacity: 1;

}

.Ingredients-arrow--svg.hidden{
  visibility: hidden;
  opacity: 0;
  transition: none;
}
.Ingredients-arrow--left{

  transform: rotate(180deg);
}
.Ingredients-arrow--svg.arrowOpacity{
  opacity: 1;

}
.Ingredients-arrow--svg-1{
  transition-delay: .1s ;
}

.Ingredients-arrow--svg-2{
  transition-delay: .15s ;
}

.Ingredients-arrow--svg-3{
  transition-delay: .20s ;
}

.Ingredients-arrow--svg-4{
  transition-delay: .25s ;
}

.Ingredients-arrow--svg-5{
  transition-delay: .30s ;
}

.Ingredients-arrow--svg-6{
  transition-delay: .35s ;
}
.Ingredients-arrow--svg-7{
  transition-delay: .40s ;
}

.svg-box { 
   transition: all .6s ease;
   transform: translateX(0);
} 
.svg-box.animated{
 transform: translateX(-100%);
}

.Ingredients-textFlex{
position: absolute;
min-height: 35rem;
display: flex;
justify-content: space-around;
margin: 3rem 0 0 0;
gap: 2rem;



}
.Ingredients-column{
 
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;


}
.Ingredients-text{
display: flex;
flex-flow: column nowrap;
align-items: center;

 font-size: 1.2rem;
 gap: 1rem;

}


.Ingredients-h3{
display: flex;
transition: opacity 1.5s ease, background-color .1s ease;
opacity: 0;
cursor: pointer;
justify-content: center;

}

.Ingredients-h3.transform-right{
  transform-origin: right;
}
.Ingredients-h3.text-transition{
opacity: 1;

}
.Ingredients-h3.text-decoration{
background-color: #ffdc49;

}
.Ingredients-h3.hidden{
  visibility: hidden;
}

.Ingredients-p{
  visibility: hidden;
  pointer-events: none;
  width: 60%;
  line-height: 1.5rem;
  font-size: 1rem;

}
.Ingredients-p.visible{
 visibility: visible;
 
}

.Ingredients-move {

  width: 4rem;
 
  position: absolute;
  top: calc(50% - 3rem);
 
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all .2s ease;
}
.Ingredients-move :hover{
  color: #ffdc49;
}

.Ingredients-move.left {
  left: 2rem;
}

.Ingredients-move.right {
  right: 2rem;
}


.Shop{
  min-height: 100vh;
  width: 100%;
display: flex;
}


.Shop-grid{
  width: 80%;
  max-width: 1200px;
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.625rem, 1fr));
    gap: 1rem;
    margin: auto;
    padding: 0 2rem;

}

.Shop-article{

  display: flex;
  flex-flow: column nowrap;
 
  gap: 0.5rem;
}
.Shop-image{
  width: 100%;
  position: relative;
    background: #f7f7f5;
  border-radius: .75rem; 
  box-shadow: inset 0 2px 6px rgba(0,0,0,0.15), 
              inset 0 -2px 4px rgba(255, 255, 255, 0.6);
  overflow: hidden;

}
.Shop-image--img{
  width: 9rem;
  margin: auto;

  transition: all .2s ease;
}
.Shop-h3{
  
  font-size: 1.3rem;
  padding: 0 0 0 .5rem;
 
}
.Shop-price{
  padding: 0 0 0 .5rem;
  width:4rem;
 font-size: 1.1rem;
 padding: .3rem;
 background-color: #ffdc49;

}

.Shop-button{
width: 100%;

position: absolute;
bottom: 0;
right: 0;
display: flex;
justify-content: end;
}
.Shop-button--button{
  background-color: black;
  color: white;
  padding: 0.3rem;
  text-align: center;
  font-size: 2.5rem;

  transition: all .3s ease;
}
.Shop-button--button:hover{
background-color: #ffdc49;
color: black;
}

.Shop-image--img:hover {
  transform: translateY(-37px);
  scale: 3.5;
    
}

.Story{
  height: 100vh;
  width: 100%;
}
.Text{

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 2rem;

    overflow: hidden;
}
.Text-overflow{
  overflow: hidden;

}
.Text-title{
  font-size: clamp(5vw, 4rem, 10vw);
 font-weight: 800;
  text-align: center;
  padding: 1rem;
color: white;
   opacity: 0;
  transform: translateY(100%);
  transition: opacity .8s ease, transform 1s ease;
background-color: #000000;
 
}

.Text-p{
  width: 50%;
  font-size: clamp(2vw, 1.8rem,4vw);

 line-height: 1.7;
  text-align: center;
  opacity: 0;
    transition: opacity 1s ease ,  filter 1.2s ease;
    filter: blur(10px);
}

.scrolled-text{
  opacity: 1;
    filter: blur(0);
  transform: translateY(0);
}


.Explore-p--explore{
 font-size: clamp(1rem, 3vw, 3rem);
  font-weight: 900;
  line-height: 1.4;
color:#000000;
text-align: center;

}
.Text-colours{
  background-color: #ffdc49;
  font-weight: 600;
  box-shadow:
    inset 0 1px 2px rgba(0,0,0,0.2),
    inset 0 -1px 2px rgba(255,255,255,0.7),
    0 2px 4px rgba(0,0,0,0.15);

}
.Explore-flavourJourney{
 font-size: clamp(1.5rem, 4vw, 3.5rem);
 color: black;
 transition: all .6s ease;
}


.Explore-flavourJourney:hover{
 animation: none;
 background-color: #ffdc49;
 color: #000000;
   box-shadow:
    inset 0 1px 2px rgba(0,0,0,0.2),
    inset 0 -1px 2px rgba(255,255,255,0.7),
    0 2px 4px rgba(0,0,0,0.15);



}
@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(0) scale(1);
   
  }
  to {
    opacity: 1;
    transform: translateY(5vh) scale(1.8);
 
  }
}
.explore{
  animation:  fadeDown 1.2s ease forwards;
}


.Passport{
width: 100%;
height: 100vh;

}
.Passport-book {
  display: flex;
  justify-content: center;
width: 100%;

background-color: beige;
}
.Page-wrapper{
  position: relative;
  display: flex;
  justify-content: center;


}
.Page-wrapper.center{
margin: 0 ;
}
.Passport-image--cover {
  position: absolute;
   width: clamp(12rem, 30vw, 25rem);
 
    transition: transform 1.2s ease, opacity .0s ease ;
    background-color: black;
}

.Passport-image--cover.openBook{
 
  opacity: 0;
}
.Passport-image--secondpage {
  width: clamp(12rem, 30vw, 25rem);
 
}

.Passport-image--firstpage{
   width: clamp(12rem, 30vw, 25rem);
   opacity: 0;

   transition: opacity .2s ease;
}
.Passport-image--firstpage.firstPageOpen{
  display: flex;
  opacity: 1;
}
.Passport-stamps{
  width: 100%;

  position: absolute;
    top: 13vw;

    display: flex;
    flex-flow: column;
    align-items: center;
    gap: .1rem;
}

.Passport-stamp{
  width: clamp(4rem, 11.5vw, 9.5rem);
transition: all .3s ease;
}
.Passport-stamp--korea:hover{
  transform: scale(1.4);
}
.Passport-stamp--korea{
  margin: 0 0 0 3rem;
  transition: all .3s ease;
}
.Passport-stamp--japan{
  margin: 0 5rem 0 0;
}
.Passport-stamp--thailand{
  margin: 0 4rem 0 0;
}