:root {
  font-size : 100%;
  font-family : system-ui, sans-serif;
  scroll-behavior : smooth;
}
* , *::before , *::after {
  margin : 0;
  padding : 0;
  border : 0;
  box-sizing : border-box;
  vertical-align : baseline;
}
*::before , *::after {
  display : block;
}
img , picture , video , iframe , figure , canvas {
  max-width : 100%;
  display : block;
  width : 100%;
  height : initial;
  object-fit : cover;
  object-position : center center;
}
a {
  display : block;
  text-decoration : none;
  color : inherit;
  font :  inherit;
}
p a {
  display : inline;
}
li , menu, summary {
  list-style-type : none;
}
ol {
  counter-reset : revert;
}
h1 , h2 , h3 , h4 , h5 , h6 , p , span , a , strong , blockquote , i , b , u , em , pre , code , mark , del {
  font :  inherit;
  line-height :  1em;
  text-decoration :  none;
  color : inherit;
  overflow-wrap : break-word;
  text-wrap : pretty;
}
mark {
  background-color : transparent;
}
blockquote::before , blockquote::after , q::before , q::after {
  content : none;
}
form , input , textarea , select , button , label {
  font :  inherit;
  hyphens : auto;
  background-color : transparent;
  color : inherit;
  display : block;
  appearance : none;
}
fieldset {
  border : none;
}
::placeholder {
  color : unset;
}
button , label {
  cursor : pointer;
}
table , tr , td , th , tbody , thead , tfoot {
  border-collapse : collapse;
  border-spacing : 0;
  font : inherit;
}
svg {
  width : 100%;
  height : initial;
  display : block;
  fill : currentColor;
}
body {
  min-height : 100vh;
  line-height : 1.5em;
  color : inherit;
  hyphens : auto;
  font-smooth : always;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing : grayscale;
}

.Preloader{
    width: 100%;
    min-height: 100vh;
    background-color: #ffdc49;
    display: flex;
    justify-content: center;
  
    animation: slideUp 1s ease forwards  4.05s;
}
@keyframes slideUp{
    to{
        transform: translateY(-100%);
    }
}
.Preloader-logo{
      display: flex;
    width: 60%;

 
}
.Preloader-svg{
}
.Preloader-svg--letter path{
    opacity: 0;
    animation: fall 1s ease-out forwards ;
}
.Preloader-svg--letter-s path{
   
       animation-delay: 1.2s;
}
.Preloader-svg--letter-o path{
   
    animation-delay: 1.2s;
}
.Preloader-svg--letter-j path{

       animation-delay: 1.4s;
}
.Preloader-svg--letter-i path{
  
       animation-delay: 1.6s;
}
.Preloader-svg--letter-dot1 path{
    fill: white;
    opacity: 0;
    transform: scale(0);
    animation: inflate 1s ease-out forwards;
       animation-delay: 2.5s;
}
.Preloader-svg--letter-dot2 path{
     fill: white;
     opacity: 0;
     transform: scale(0);
     animation: inflate 1s ease-out forwards;
       animation-delay: 2.8s;
}

@keyframes fall{
    0%{
     transform: translateY(-100vh); opacity: 0;
    }  
    70%{
        transform: translateY(0);opacity: 1;;
    }
    85%{
        transform: translateY(-40px);
    }
    100%{
      transform: translateY(0); opacity:1;
    }
}

@keyframes inflate{
    0%{
        transform: scale(0);opacity: 0;
    }
    60%{
        transform: scale(1.3); opacity: 1;
    }
    80%{
        transform: scale(0.9);
    }
    100%{
        transform: scale(1); opacity: 1;
    }
}